{% extends "base.html" %}
<!-- # I wrote this code -->
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
                <h2 class="post-title">login</h2>
                <p class="post-subtitle">don't have an account? 
                    <a id="register-nav" href="/register"> register</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Main Content-->
<section>
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form class="login_form" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-floating">
                            <input class="form-control" id="id_username" name="username" type="text" placeholder="username" data-sb-validations="required" />
                            <label for="id_username">username</label>
                            <div class="invalid-feedback" data-sb-feedback="username:required">username is required</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="id_password" name="password" type="password" placeholder="password" data-sb-validations="required" />
                            <label for="id_password">password</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">password is required</div>
                        </div>
                        <br>
                        <input type="submit" name="submit" value="login" class="btn btn-primary text-uppercase"/>
                    </form>
                </div>   
            </div>
        </div>
    </main>
</section>
{% endblock content %}
<!-- # end of code I wrote -->