<!-- # I wrote this code -->
{% if request.user.is_authenticated %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-color:black;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">thesocialnetwork</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li>
                    <form class="form-inline" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control" id="id_search" name="search" type="text" placeholder="username" data-sb-validations="required" />
                            <div class="input-group-append">
                                <button id="search-submit" type="submit" name="submit" class="btn btn-secondary text-uppercase">Search</button>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/chats">chat</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/profile">profile</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-color:black;">
    <div class="container px-4 px-lg-5" style="text-align: center;">
        <a class="navbar-brand" href="/">thesocialnetwork</a>
    </div>
</nav>
{% endif %}
<!-- # end of code I wrote -->
